In [7]:
import yfinance as yf
import datetime as dt
import pandas as pd
import numpy as np
from sklearn import preprocessing,svm,model_selection
from matplotlib import style



#######################################################################################################
# Get ticker's info
#######################################################################################################


#define the ticker symbol
tickerSymbol = 'ARKK'

#get data on this ticker
tickerData = yf.Ticker(tickerSymbol)

#get the historical prices for this ticker
df = tickerData.history(period='1d', start='2010-1-1', end='2020-10-09')

#rearrange columns to better view
df['Year']=df.index.year
df['Month']=df.index.month


#######################################################################################################
# Add intereted columns
#######################################################################################################
NDaysLater=10


#find if the price n-th days later is higher than current price
# e.g. n=5, means check if the price 5 days later will higher than current price
df['Day'+str(NDaysLater)]=df['Close'].shift(periods=-NDaysLater)
df['Movement after '+str(NDaysLater)+' Day'] = (df['Day'+str(NDaysLater)]/df['Close'] -1)*100
df['%']=1

df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Year,Month,Day10,Movement after 10 Day
Date,,,,,,,,,,,
2014-10-31,19.03,19.03,19.00,19.00,2700,0.0,0,2014,10,19.05,0.263158
2014-11-03,19.10,19.10,18.97,19.00,2300,0.0,0,2014,11,19.03,0.157895
2014-11-04,18.83,18.89,18.83,18.89,7900,0.0,0,2014,11,19.20,1.641080
2014-11-05,19.12,19.12,18.64,18.64,14900,0.0,0,2014,11,18.91,1.448498
2014-11-06,18.73,18.77,18.71,18.77,2000,0.0,0,2014,11,18.90,0.692595
...,...,...,...,...,...,...,...,...,...,...,...
2020-10-02,91.56,94.06,91.55,92.32,2792100,0.0,0,2020,10,NaN,NaN
2020-10-05,93.56,95.96,93.56,95.89,1830400,0.0,0,2020,10,NaN,NaN
2020-10-06,95.94,97.91,94.88,95.67,2497300,0.0,0,2020,10,NaN,NaN
2020-10-07,97.10,100.02,97.10,99.21,3147300,0.0,0,2020,10,NaN,NaN
2020-10-08,101.86,101.86,100.19,100.57,2437400,0.0,0,2020,10,NaN,NaN